@import 'scss/colors';
@import 'scss/highlight';

body {
  background-color: $background-0;
  color: $text-bright;
  a {
    color: $text-link;
  }
  header {
    background-color: $background-1;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  section#main-container {
    .breadcrumb {
      background-color: $background-1;
      .breadcrumb-item.active {
        color: $text-medium;
      }
    }
    .card {
      background-color: $background-1;
      .card-header {
        background-color: $highlight-bg-0;
      }
    }
    .accordion {
      background-color: $background-0;
      .card-header {
        background-color: $highlight-bg-0;
        border-color: black;
        cursor: pointer;
      }
    }
  }
  footer {
    background-color: $background-1;
    border-radius: 0.25rem;
    margin-top: 1rem;
  }
}