@light-background: #f7f7f9;

.books-list {
  a {
    display: block;
  }
  -moz-column-width: 10em;
  -webkit-column-width: 10em;
  column-width: 10em;
}

.chapters-list {
  a {
    margin: .5em;
    display: inline-block;
    background-color: @light-background;
    border-radius: .5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
  }
  max-width: 50em;
}