@import 'scss/colors';
@import 'scss/highlight';

body {
  background-color: $background-0;
  color: $text-bright;
  a {
    color: $text-link;
  }
  header {
    background-color: $background-1;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  section#main-container {
    .breadcrumb {
      background-color: $background-1;
      .breadcrumb-item.active {
        color: $text-medium;
      }
      .pagination .page-link {
        padding-top: 0;
        padding-bottom: 0.15rem;
      }
    }
    .pagination {
      .page-item {
        background-color: $background-2;
        .page-link {
          color: $text-link;
          border: 1px solid $background-0;
          background-color: $background-2;
          font-size: 1em;
        }
        &.disabled .page-link {
          color: $background-0;
        }
      }
    }
    .card {
      background-color: $background-1;
      .card-header {
        background-color: $highlight-bg-0;
      }
    }
    .accordion {
      background-color: $background-0;
      .card-header {
        background-color: $highlight-bg-0;
        border-color: black;
        cursor: pointer;
      }
    }
  }
  footer {
    background-color: $background-1;
    border-radius: 0.25rem;
    margin-top: 1rem;
  }
}