$color-teal-0: #001919;
$color-teal-1: #0E2929;
$color-teal-2: #064545;
$color-teal-3: #236767;
$color-teal-4: #7CB5B5;

$color-green-0: #002100;
$color-green-1: #123612;
$color-green-2: #085D08;
$color-green-3: #2F8A2F;
$color-green-4: #95DA95;

$color-blue-0: #01091C;
$color-blue-1: #131B2E;
$color-blue-2: #0E224E;
$color-blue-3: #2F4473;
$color-blue-4: #8B9CC2;