$color-text-light: #FFFFFF;
$color-text-medium: #999999;
$color-text-dark: #000000;

$color-gray-0: #292929;
$color-gray-1: #575757;
$color-gray-2: #404040;

$color-blue-0: #19172B; // Main Primary color
$color-blue-1: #373459;
$color-blue-2: #282541;
$color-blue-3: #1C193A;
$color-blue-4: #1A1643;

$color-green-0: #2A381A; // Main Secondary color (1)
$color-green-1: #5C753D;
$color-green-2: #42552B;
$color-green-3: #354C1A;
$color-green-4: #395713;

$color-red-0: #3D1D1D; // Main Secondary color (2)
$color-red-1: #804343;
$color-red-2: #5E2F2F;
$color-red-3: #541C1C;
$color-red-4: #601515;
