$highlight: #f6fcc4;
$background: #eceeef;

@import 'colors.scss';

a.footnote {
  text-decoration: none;
}

.books-list {
  a {
    display: block;
  }
  -moz-column-width: 12rem;
  -webkit-column-width: 12rem;
  column-width: 12rem;
}

.chapters-list {
  a {
    margin: .5rem;
    display: inline-block;
    background-color: $background;
    border-radius: .5rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
  }
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

.chapter-view {
  max-width: 35em;
  min-width: 25em;
  padding-left: 5em;
  padding-right: 5em;
  ul.chapter-text {
    max-width: 25em;
    min-width: 15em;
    padding: 0;
    li.verse {
      list-style: none;
      margin-bottom: 1em;
      padding: .5em;
      border-radius: .2em;
      span.verse-num {
        margin-right: .2em;
      }
      span.verse-num::after {
        content: '.';
      }
    }
    li.highlight {
      background-color: $highlight;
    }
  }
}

.card#highlight-menu {
  position: absolute;
  left: 1em;
  width: 4em;
  text-align: center;
  background-color: $background;
  a.fa {
    display: inline-block;
  }
}