$highlight: rgba(92, 117, 61, 0.5);

@import 'colors.scss';

a.footnote {
  text-decoration: none;
}

.books-list {
  a {
    display: block;
  }
  -moz-column-width: 12rem;
  -webkit-column-width: 12rem;
  column-width: 12rem;
}

.chapters-list {
  a {
    margin: .5rem;
    display: inline-block;
    color: $text-bright;
    background-color: $color-blue-0;
    border-radius: .5rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
  }
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

.chapter-view {
  max-width: 35em;
  min-width: 25em;
  padding-left: 5em;
  padding-right: 5em;
  .card#highlight-menu {
    position: absolute;
    left: 1em;
    width: 4em;
    text-align: center;
    color: $text-bright;
    background-color: $color-blue-0;
    a.fa {
      color: $text-bright;
      display: inline-block;
    }
  }
  ul.chapter-text {
    max-width: 25em;
    min-width: 15em;
    padding: 0;
    li.verse {
      list-style: none;
      margin-bottom: 1em;
      padding: .5em;
      border-radius: .2em;
      &.highlight {
        color: $text-dark;
        background-color: $highlight;
      }
      span.verse-num {
        margin-right: .2em;
      }
      span.verse-num::after {
        content: '.';
      }
    }
  }
}